In [ ]:
# Sujet :
# Prédire le pays gagnant lors des JO 2024 en terme de :
# nombre de médailles total ? points de médailles ?
# prédire le total de médailles de chaque pays et faire un classement


# relier host de result pour pouvoir exlure les jeux d'hiver

In [ ]:
# Import des biliothèques
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler, PolynomialFeatures
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
from sklearn.multioutput import MultiOutputRegressor

In [ ]:
# Chargement des jeux de données
from sqlalchemy import create_engine

username = 'jo2024_fatima'
password = 'Ipssi2024!'
hostname = 'postgresql-jo2024.alwaysdata.net'
database = 'jo2024_postgres'

connection_url = f'postgresql://{username}:{password}@{hostname}:5432/{database}'

engine = create_engine(connection_url)

df_result = pd.read_sql("olympic_results", engine)
df_hosts = pd.read_sql("olympic_hosts", engine)

In [ ]:
df_result["country_name"].unique()

array(['Republic of Korea', 'Latvia', 'United States of America',
       'Russian Federation', 'Norway', 'Soviet Union', 'Greece',
       'Federal Republic of Germany', 'Sweden', 'Czech Republic',
       'Switzerland', 'German Democratic Republic (Germany)', 'Finland',
       'Czechoslovakia', 'Italy', 'Mexico', 'Argentina', 'Japan',
       'Independent Olympic Athletes', 'Canada', 'Germany',
       'Great Britain', 'Nigeria', 'Austria', 'Indonesia', 'Belgium',
       'Turkey', 'Slovenia', 'Netherlands', 'Australia', 'France',
       'Poland', "People's Republic of China", 'Denmark', 'ROC',
       'Kazakhstan', 'Portugal', 'Unified Team', 'Estonia', 'Jamaica',
       'New Zealand', 'Spain', 'Libya', 'Morocco', 'Egypt', 'Chile',
       'India', 'Islamic Republic of Iran', 'South Africa', 'Tunisia',
       'Saudi Arabia', 'Cuba', 'Peru', 'Hungary', 'Saar', 'Bulgaria',
       'Romania', 'Luxembourg', 'Bahrain', 'Kenya', 'Qatar', 'Bahamas',
       'Haiti', 'Belarus', 'Ukraine', 'Tajikistan', 'Brazil',
       'Trinidad and Tobago', 'Slovakia', 'Ireland', 'Yugoslavia',
       'Liechtenstein', 'Lithuania', 'Guatemala', 'Colombia', 'Bolivia',
       'Vietnam', 'Ecuador', 'Croatia', 'Mongolia', 'Armenia', 'Iceland',
       "Democratic People's Republic of Korea", 'Venezuela',
       'Republic of Moldova', 'San Marino', 'Senegal', 'Cameroon',
       'Saint Kitts and Nevis', 'Honduras', 'Bermuda', 'Panama', 'Mali',
       'Ivory Coast', 'Serbia', 'Chinese Taipei', 'Dominican Republic',
       'Georgia', 'Uzbekistan',
       'The Former Yugoslav Republic of Macedonia', 'Thailand',
       'Costa Rica', 'Nepal', 'Monaco', 'Cayman Islands', 'Botswana',
       'Grenada', 'Barbados', 'Puerto Rico', 'Madagascar',
       'Hong Kong, China', 'Israel', 'Benin', 'Oman', 'Cyprus',
       'Saint Lucia', 'Ethiopia', 'Namibia', 'Burundi', 'Algeria',
       'Eritrea', 'Kyrgyzstan', 'Montenegro', 'Lesotho', 'Uganda',
       'Rwanda', 'Myanmar', 'Democratic Republic of Timor-Leste',
       'Bosnia and Herzegovina', 'Zimbabwe', 'Syrian Arab Republic',
       'Ghana', 'Malta', 'Liberia', 'US Virgin Islands', 'Andorra',
       'Togo', 'Paraguay', 'Philippines', 'Azerbaijan', 'Djibouti',
       'Serbia and Montenegro', 'Malaysia', 'Netherlands Antilles',
       'Sudan', 'United Republic of Tanzania', 'Malawi', 'Sri Lanka',
       'Jordan', 'Democratic Republic of the Congo', 'Angola', 'Samoa',
       'Singapore', 'Cook Islands', 'Lebanon', 'Pakistan', 'Guyana',
       'Kuwait', 'Fiji', 'United Arab Emirates', 'Uruguay', 'Albania',
       'Seychelles', 'El Salvador', 'Gabon', 'Turkmenistan', 'Swaziland',
       'Cambodia', 'Zambia', 'Niger', 'Iraq', 'Chad', 'Nicaragua',
       'Mauritius', 'Bangladesh', 'Bhutan',
       'Federated States of Micronesia', 'Guinea-Bissau', 'Guam',
       'Central African Republic', 'South Vietnam', 'Belize', 'Kosovo',
       'American Samoa', 'Rhodesia', 'Afghanistan', 'Virgin Islands, US',
       'Mozambique', 'Aruba', 'Papua New Guinea', 'North Macedonia',
       'Congo', 'Somalia', 'Sierra Leone', 'Guinea', 'Solomon Islands',
       'Maldives', 'Vanuatu', 'Nauru', 'Palau', 'Tonga', 'Tuvalu',
       'Saint Vincent and the Grenadines', 'Antigua and Barbuda',
       'Kiribati', 'Suriname', 'Refugee Olympic Team', 'Burkina Faso',
       'Palestine', 'Cape Verde', 'Brunei', 'Yemen',
       'Sao Tome and Principe', "CÃ´te d'Ivoire", 'Eswatini',
       'Yemen Arab Republic', 'Yemen Democratic Republic',
       "Lao People's Democratic Republic", 'Equatorial Guinea',
       'Dominica', 'British Virgin Islands', 'Comoros', 'Gambia',
       'Mauritania', 'Virgin Islands, British', 'Marshall Islands',
       'Olympic Athletes from Russia', 'MIX', 'Korea Team',
       'United Arab Republic', 'Malaya', 'West Indies Federation',
       'South Sudan', 'Refugee Olympic Athletes', 'Australasia',
       'Bohemia', 'North Borneo', 'Newfoundland'], dtype=object)

In [ ]:
#Merge des deux datasets
df_hosts.rename({'slug_game':'game_slug'}, axis=1, inplace=True)
df_result.rename({'slug_game':'game_slug'}, axis=1, inplace=True)
df_full = pd.merge(df_result, df_hosts, on='game_slug')

In [ ]:
# Nettoyage des données
df_full = df_full.dropna(subset=['country_name'])
df_full

,_c0,Unnamed: 0,discipline_title,event_title,game_slug,...,game_location,game_name,game_season,game_year,start_year
0,55739,55739,Skeleton,Individual men,salt-lake-city-2002,...,United States,Salt Lake City 2002,Winter,2002,2002
1,55740,55740,Skeleton,Individual men,salt-lake-city-2002,...,United States,Salt Lake City 2002,Winter,2002,2002
2,55741,55741,Skeleton,Individual men,salt-lake-city-2002,...,United States,Salt Lake City 2002,Winter,2002,2002
3,55742,55742,Skeleton,Individual men,salt-lake-city-2002,...,United States,Salt Lake City 2002,Winter,2002,2002
4,55743,55743,Skeleton,Individual men,salt-lake-city-2002,...,United States,Salt Lake City 2002,Winter,2002,2002
...,...,...,...,...,...,...,...,...,...,...,...
162799,162592,162592,Weightlifting,heavyweight - two hand lift men,athens-1896,...,Greece,Athens 1896,Summer,1896,1896
162800,162593,162593,Weightlifting,heavyweight - two hand lift men,athens-1896,...,Greece,Athens 1896,Summer,1896,1896
162801,162594,162594,Weightlifting,heavyweight - two hand lift men,athens-1896,...,Greece,Athens 1896,Summer,1896,1896
162802,162595,162595,Weightlifting,heavyweight - two hand lift men,athens-1896,...,Greece,Athens 1896,Summer,1896,1896
162803,162596,162596,Weightlifting,heavyweight - two hand lift men,athens-1896,...,Greece,Athens 1896,Summer,1896,1896

In [ ]:
summer_games_data = df_full[df_full['game_season'] == 'Summer']
summer_games_data

In [ ]:
# show duplicates
summer_games_data.duplicated().sum()

# drop duplicates
summer_games_data.drop_duplicates()

In [ ]:
summer_games_data.medal_type.unique()
summer_games_data.isnull().sum()

In [ ]:
# Remove useless columns
summer_games_data.drop(['Unnamed: 0', 'athlete_url', '_c0', 'country_3_letter_code', 'country_code', 'index', 'game_end_date', 'game_start_date', 'start_year', 'game_season', 'game_name'], axis=1, inplace=True)

In [ ]:
summer_games_data.columns

In [ ]:
summer_games_data

In [ ]:
game_part = summer_games_data.groupby(['country_name','game_year'])
print(game_part)

In [ ]:
summer_games_data.columns

In [ ]:
medals_data = summer_games_data[['country_name', 'medal_type', 'game_slug', 'athlete_full_name']]
medals_data

In [378]:
# Sélectionner les colonnes pertinentes
medals_data = summer_games_data[['country_name', 'medal_type', 'game_slug', 'athlete_full_name']]

# Extraire l'année des jeux olympiques
medals_data['year'] = medals_data['game_slug'].str.extract(r'(\d{4})').astype(int)

medals_data = medals_data[~medals_data['country_name'].isin(['Soviet Union', 'Unified Team'])]

# Dictionnaire correction
country_dict = {
    'German Democratic Republic (Germany)':'Germany',
    'Federal Republic of Germany':'Germany',
    "Democratic People's Republic of Korea":'North Korea',
    "ROC":"Russian Federation",
    "Republic of Korea":"South Korea",
    "People's Republic of China":'China',
    "Islamic Republic of Iran":'Iran',
    "United States of America":'USA'}

medals_data['country_name'] = medals_data['country_name'].replace(country_dict)

# Ajouter une colonne pour le nombre d'athlètes par pays par année
medals_data['num_athletes'] = medals_data.groupby(['country_name', 'year'])['athlete_full_name'].transform('nunique')

# Ajouter une colonne comptant les points de médailles
medals_data['medal_value'] = medals_data['medal_type'].map({'GOLD': 3, 'SILVER': 2, 'BRONZE': 1})

# Ajouter une colonne comptant le nombre de médailles
medals_data['medal_count'] = medals_data['medal_type'].map({'GOLD': 1, 'SILVER': 1, 'BRONZE': 1, 'None': 0})

# Agréger les données par pays et par année
medals_by_country_year = medals_data.groupby(['country_name', 'year', 'num_athletes'])[['medal_value', 'medal_count']].sum().reset_index()

# Renommer les colonnes pour plus de clarté
medals_by_country_year.columns = ['country_name', 'year', 'num_athletes', 'total_medal_value', 'total_medal_count']

<ipython-input-378-86349b662215>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  medals_data['year'] = medals_data['game_slug'].str.extract(r'(\d{4})').astype(int)

In [379]:
# Séparer les données d'entraînement (jusqu'à 2016) et de test (2020)
# train_data = medals_by_country_year[(medals_by_country_year['year'] >= 1990) & (medals_by_country_year['year'] <= 2016)]
train_data = medals_by_country_year[medals_by_country_year['year'] <= 2016]
test_data = medals_by_country_year[medals_by_country_year['year'] == 2020]

X_train = train_data[['country_name', 'year', 'num_athletes']]
y_train = train_data[['total_medal_value', 'total_medal_count']]
X_test = test_data[['country_name', 'year', 'num_athletes']]
y_test = test_data[['total_medal_value', 'total_medal_count']]

In [380]:
print(medals_by_country_year)

     country_name  year  num_athletes  total_medal_value  total_medal_count
0     Afghanistan  1936             0                0.0                0.0
1     Afghanistan  1948             0                0.0                0.0
2     Afghanistan  1956             0                0.0                0.0
3     Afghanistan  1960            10                0.0                0.0
4     Afghanistan  1964             8                0.0                0.0
...           ...   ...           ...                ...                ...
2870     Zimbabwe  2004             5                6.0                3.0
2871     Zimbabwe  2008            10                9.0                4.0
2872     Zimbabwe  2012             7                0.0                0.0
2873     Zimbabwe  2016            11                0.0                0.0
2874     Zimbabwe  2020             2                0.0                0.0

[2875 rows x 5 columns]

# Linear Regression

In [385]:
# Préparer le transformateur pour l'encodage et la normalisation
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['year', 'num_athletes']),
    ])

# Créer le pipeline avec le préprocesseur et le modèle de régression linéaire
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    # On prédit à la fois le nombre de points de médailles et le nombre médaille avec la régression linéaire multi-sorties
    ('regressor', MultiOutputRegressor(LinearRegression()))
])

# Entraîner le modèle
model.fit(X_train, y_train)

# Prédire les médailles pour 2020
y_pred = model.predict(X_test)

# Évaluer le modèle
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

# Afficher les prédictions
predictions = pd.DataFrame({
    'country_name': X_test['country_name'],
    'predicted_points': y_pred[:, 0],
    'predicted_medals': y_pred[:, 1]
})

# Remplacer les valeurs négatives par 0
predictions['predicted_points'] = predictions['predicted_points'].apply(lambda x: max(0, x))
predictions['predicted_medals'] = predictions['predicted_medals'].apply(lambda x: max(0, x))

# Classer la dataframe dans l'ordre des médailles gagnées par pays
predictions = predictions.sort_values(by='predicted_points', ascending=False)

print("total medals in 2020 : " + str(predictions['predicted_medals'].sum()))
print(predictions)

Mean Absolute Error: 6.7018541473744495
total medals in 2024 : 1067.4272483366617
                          country_name  predicted_points  predicted_medals
2703                               USA        165.211630         82.356017
1393                             Japan        114.747639         57.252790
545                              China        104.306814         52.059019
2199                Russian Federation        100.826539         50.327762
960                            Germany         92.705897         46.288162
911                             France         92.705897         46.288162
151                          Australia         90.385713         45.133990
1005                     Great Britain         88.065530         43.979819
1341                             Italy         86.905438         43.402733
473                             Canada         71.244200         35.612077
2424                             Spain         63.123557         31.572477
2393                       South Korea         55.582961         27.821420
378                             Brazil         54.422869         27.244334
2102                            Poland         49.782503         24.935992
2727                           Ukraine         48.042365         24.070363
1834                       Netherlands         45.722181         22.916192
1173                           Hungary         38.181585         19.165135
1697                            Mexico         37.601539         18.876592
788                              Egypt         31.801081         15.991163
2654                            Turkey         31.221035         15.702621
1411                        Kazakhstan         31.221035         15.702621
2534                       Switzerland         28.320806         14.259906
668                     Czech Republic         28.320806         14.259906
1224                             India         26.000622         13.105735
2505                            Sweden         26.000622         13.105735
241                            Belarus         26.000622         13.105735
268                            Belgium         24.840530         12.528649
1873                       New Zealand         24.260484         12.240106
650                               Cuba         21.360255         10.797392
581                           Colombia         21.360255         10.797392
179                            Austria         20.780209         10.508849
2780                        Uzbekistan         20.200163         10.220307
561                     Chinese Taipei         19.040072          9.643221
1296                           Ireland         18.460026          9.354678
2127                          Portugal         18.460026          9.354678
105                          Argentina         16.719888          8.489050
2375                      South Africa         16.139842          8.200507
728                            Denmark         15.559796          7.911964
1313                            Israel         14.979751          7.623421
2631                           Tunisia         13.819659          7.046335
768                            Ecuador         13.819659          7.046335
1959                            Norway         13.239613          6.757792
1732                          Mongolia         12.659567          6.469250
1257                              Iran         11.499475          5.892164
1034                            Greece         10.339384          5.315078
1751                           Morocco         10.339384          5.315078
38                             Algeria          9.759338          5.026535
2572                          Thailand          9.759338          5.026535
186                         Azerbaijan          9.759338          5.026535
2286                            Serbia          9.759338          5.026535
628                            Croatia          9.179292          4.737993
2341                          Slovenia          8.599246          4.449450
1427                             Kenya          8.019200          4.160907
2057                              Peru          7.439154          3.872364
2189                           Romania          7.439154          3.872364
1146                  Hong Kong, China          6.859108          3.583821
934                            Georgia          6.859108          3.583821
882                            Finland          6.859108          3.583821
838                           Ethiopia          5.699017          3.006736
2333                          Slovakia          5.699017          3.006736
407                           Bulgaria          5.699017          3.006736
822                            Estonia          5.118971          2.718193
2806                         Venezuela          5.118971          2.718193
1553                         Lithuania          3.958879          2.141107
753                 Dominican Republic          3.378833          1.852564
1370                           Jamaica          3.378833          1.852564
2158              Refugee Olympic Team          3.378833          1.852564
1066                         Guatemala          3.378833          1.852564
532                              Chile          2.798787          1.564021
2146                       Puerto Rico          1.638696          0.986936
1476                            Latvia          1.638696          0.986936
1919                           Nigeria          1.058650          0.698393
2720                            Uganda          0.478604          0.409850
2079                       Philippines          0.478604          0.409850
1969                              Oman          0.000000          0.000000
2736              United Arab Emirates          0.000000          0.000000
2751       United Republic of Tanzania          0.000000          0.000000
2038                          Paraguay          0.000000          0.000000
2026                  Papua New Guinea          0.000000          0.000000
2773                           Uruguay          0.000000          0.000000
2015                            Panama          0.000000          0.000000
1998                         Palestine          0.000000          0.000000
1987                          Pakistan          0.000000          0.000000
2281                           Senegal          0.000000          0.000000
2266                      Saudi Arabia          0.000000          0.000000
1932                   North Macedonia          0.000000          0.000000
1901                             Niger          0.000000          0.000000
2816                           Vietnam          0.000000          0.000000
1887                         Nicaragua          0.000000          0.000000
2817           Virgin Islands, British          0.000000          0.000000
2818                Virgin Islands, US          0.000000          0.000000
2826                             Yemen          0.000000          0.000000
2860                            Zambia          0.000000          0.000000
2787                           Vanuatu          0.000000          0.000000
2661                      Turkmenistan          0.000000          0.000000
2156                             Qatar          0.000000          0.000000
2616               Trinidad and Tobago          0.000000          0.000000
2254             Sao Tome and Principe          0.000000          0.000000
2251                        San Marino          0.000000          0.000000
2299                        Seychelles          0.000000          0.000000
2309                      Sierra Leone          0.000000          0.000000
2236                             Samoa          0.000000          0.000000
2326                         Singapore          0.000000          0.121307
2220                       Saint Lucia          0.000000          0.000000
1794                             Nauru          0.000000          0.000000
2208                            Rwanda          0.000000          0.000000
2349                   Solomon Islands          0.000000          0.000000
2355                           Somalia          0.000000          0.000000
2441                         Sri Lanka          0.000000          0.000000
2454                             Sudan          0.000000          0.000000
2467                          Suriname          0.000000          0.000000
2548              Syrian Arab Republic          0.000000          0.000000
2555                        Tajikistan          0.000000          0.000000
2588                              Togo          0.000000          0.000000
2598                             Tonga          0.000000          0.000000
2165               Republic of Moldova          0.000000          0.121307
1808                             Nepal          0.000000          0.000000
14                         Afghanistan          0.000000          0.000000
1787                           Namibia          0.000000          0.000000
1779                           Myanmar          0.000000          0.000000
446                           Cameroon          0.000000          0.000000
480                         Cape Verde          0.000000          0.000000
507                               Chad          0.000000          0.000000
586                            Comoros          0.000000          0.000000
605                       Cook Islands          0.000000          0.000000
620                         Costa Rica          0.000000          0.000000
661                             Cyprus          0.000000          0.000000
685                     CÃ´te d'Ivoire          0.000000          0.000000
700   Democratic Republic of the Congo          0.000000          0.000000
736                           Djibouti          0.000000          0.000000
739                           Dominica          0.000000          0.000000
800                        El Salvador          0.000000          0.000000
809                            Eritrea          0.000000          0.000000
823                           Eswatini          0.000000          0.000000
856                               Fiji          0.000000          0.000000
424                            Burundi          0.000000          0.000000
417                       Burkina Faso          0.000000          0.000000
354                           Botswana          0.000000          0.000000
203                            Bahamas          0.000000          0.000000
47                      American Samoa          0.000000          0.000000
59                             Andorra          0.000000          0.000000
69                              Angola          0.000000          0.000000
80                 Antigua and Barbuda          0.000000          0.000000
112                            Armenia          0.000000          0.000000
121                              Aruba          0.000000          0.000000
213                            Bahrain          0.000000          0.000000
344             Bosnia and Herzegovina          0.000000          0.000000
222                         Bangladesh          0.000000          0.000000
279                             Belize          0.000000          0.000000
290                              Benin          0.000000          0.000000
309                            Bermuda          0.000000          0.000000
319                             Bhutan          0.000000          0.000000
336                            Bolivia          0.000000          0.000000
922                              Gabon          0.000000          0.000000
927                             Gambia          0.000000          0.000000
976                              Ghana          0.000000          0.000000
1620                          Malaysia          0.000000          0.121307
1513                           Liberia          0.000000          0.000000
1525                             Libya          0.000000          0.000000
1543                     Liechtenstein          0.000000          0.000000
1578                        Luxembourg          0.000000          0.000000
1594                        Madagascar          0.000000          0.000000
1604                            Malawi          0.000000          0.000000
1629                          Maldives          0.000000          0.000000
1494                           Lebanon          0.000000          0.000000
1642                              Mali          0.000000          0.000000
1658                             Malta          0.000000          0.000000
1674                         Mauritius          0.000000          0.000000
1718                            Monaco          0.000000          0.000000
1736                        Montenegro          0.000000          0.000000
1761                        Mozambique          0.000000          0.000000
1505                           Lesotho          0.000000          0.000000
23                             Albania          0.000000          0.000000
1042                           Grenada          0.000000          0.000000
1195                           Iceland          0.000000          0.000000
1051                              Guam          0.000000          0.000000
1078                            Guinea          0.000000          0.000000
1085                     Guinea-Bissau          0.000000          0.000000
1103                            Guyana          0.000000          0.000000
1119                             Haiti          0.000000          0.000000
1131                          Honduras          0.000000          0.000000
1240                         Indonesia          0.000000          0.000000
1464  Lao People's Democratic Republic          0.000000          0.000000
1274                              Iraq          0.000000          0.000000
1404                            Jordan          0.000000          0.000000
1432                          Kiribati          0.000000          0.000000
1434                            Kosovo          0.000000          0.000000
1447                            Kuwait          0.000000          0.000000
1454                        Kyrgyzstan          0.000000          0.000000
2874                          Zimbabwe          0.000000          0.000000

In [386]:
# Prédiction pour l'année 2024

# Estimer le nombre d'athlètes pour 2024
avg_athletes = medals_by_country_year.groupby('country_name')['num_athletes'].mean().reset_index()
avg_athletes['year'] = 2024

# Créer les données de prédiction pour 2024
X_2024 = avg_athletes[['country_name', 'year', 'num_athletes']]

# Prédire les médailles pour 2024
y_2024_pred = model.predict(X_2024)

# Afficher les prédictions
predictions = pd.DataFrame({
    'country_name': X_2024['country_name'],
    'predicted_points': y_2024_pred[:, 0],
    'predicted_medals': y_2024_pred[:, 1]
})

# Remplacer les valeurs négatives par 0
predictions['predicted_points'] = predictions['predicted_points'].apply(lambda x: max(0, x))
predictions['predicted_medals'] = predictions['predicted_medals'].apply(lambda x: max(0, x))

# Classer la dataframe dans l'ordre des médailles gagnées par pays
predictions = predictions.sort_values(by='predicted_points', ascending=False)

print("total medals in 2024 : " + str(predictions['predicted_medals'].sum()))
print(predictions)

total medals in 2024 : 763.7511601029194
           country_name  predicted_points  predicted_medals
211                 USA        110.432574         55.111879
168  Russian Federation         85.565179         42.741635
76              Germany         81.611943         40.775105
213             Ukraine         70.948023         35.470356
42                China         67.244653         33.628121
..                  ...               ...               ...
100             Jamaica          0.000000          0.000000
102              Jordan          0.000000          0.000000
105            Kiribati          0.000000          0.000000
106              Kosovo          0.000000          0.000000
230            Zimbabwe          0.000000          0.000000

[231 rows x 3 columns]

# Polynomial Regression

In [383]:
# Préparer le transformateur pour l'encodage et la normalisation
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['year', 'num_athletes']),
    ])

polynomial_features = PolynomialFeatures(degree=2, include_bias=False)
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('polynomial_features', polynomial_features),
    ('regressor', MultiOutputRegressor(LinearRegression()))
])

# Entraîner le modèle
model.fit(X_train, y_train)

# Prédire les médailles pour 2020
y_pred = model.predict(X_test)

# Évaluer le modèle
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

# Afficher les prédictions
predictions = pd.DataFrame({
    'country_name': X_test['country_name'],
    'predicted_points': y_pred[:, 0],
    'predicted_medals': y_pred[:, 1]
})

# Remplacer les valeurs négatives par 0
predictions['predicted_points'] = predictions['predicted_points'].apply(lambda x: max(0, x))
predictions['predicted_medals'] = predictions['predicted_medals'].apply(lambda x: max(0, x))

# Classer la dataframe dans l'ordre des médailles gagnées par pays
predictions = predictions.sort_values(by='predicted_points', ascending=False)

print("total medals : " + str(predictions['predicted_medals'].sum()))
print(predictions)

Mean Absolute Error: 4.162259762913595
total medals : 960.5574942296804
                          country_name  predicted_points  predicted_medals
2703                               USA        210.934847        103.671162
1393                             Japan        122.259297         60.658603
545                              China        106.614262         53.030234
2199                Russian Federation        101.605088         50.584266
911                             France         90.317258         45.065271
960                            Germany         90.317258         45.065271
151                          Australia         87.195083         43.536826
1005                     Great Britain         84.118650         42.029896
1341                             Italy         82.597586         41.284500
473                             Canada         63.182477         31.748119
2424                             Spain         53.935878         27.189269
2393                       South Korea         45.851482         23.192054
378                             Brazil         44.650612         22.597269
2102                            Poland         39.961486         20.271918
2727                           Ukraine         38.250235         19.422100
1834                       Netherlands         36.008591         18.307835
1173                           Hungary         29.039153         14.835069
1697                            Mexico         28.523054         14.577347
788                              Egypt         23.519307         12.074081
2654                            Turkey         23.034656         11.831150
1411                        Kazakhstan         23.034656         11.831150
668                     Czech Republic         20.654284         10.636669
2534                       Switzerland         20.654284         10.636669
1224                             India         18.801446          9.705290
2505                            Sweden         18.801446          9.705290
241                            Belarus         18.801446          9.705290
268                            Belgium         17.892180          9.247668
1873                       New Zealand         17.441835          9.020875
650                               Cuba         15.232995          7.907078
581                           Colombia         15.232995          7.907078
179                            Austria         14.799804          7.688353
2780                        Uzbekistan         14.369471          7.470972
561                     Chinese Taipei         13.517383          7.040246
1296                           Ireland         13.095627          6.826900
2127                          Portugal         13.095627          6.826900
105                          Argentina         11.847513          6.194930
2375                      South Africa         11.437192          5.986962
728                            Denmark         11.029731          5.780340
1313                            Israel         10.625128          5.575062
768                            Ecuador          9.824499          5.168541
2631                           Tunisia          9.824499          5.168541
1959                            Norway          9.428473          4.967297
1732                          Mongolia          9.035306          4.767399
1257                              Iran          8.257548          4.371635
1751                           Morocco          7.491225          3.981251
1034                            Greece          7.491225          3.981251
2286                            Serbia          7.112352          3.788076
2572                          Thailand          7.112352          3.788076
38                             Algeria          7.112352          3.788076
186                         Azerbaijan          7.112352          3.788076
628                            Croatia          6.736338          3.596246
2341                          Slovenia          6.363183          3.405760
1427                             Kenya          5.992887          3.216620
2189                           Romania          5.625450          3.028823
2057                              Peru          5.625450          3.028823
1146                  Hong Kong, China          5.260871          2.842372
882                            Finland          5.260871          2.842372
934                            Georgia          5.260871          2.842372
2333                          Slovakia          4.540290          2.473504
838                           Ethiopia          4.540290          2.473504
407                           Bulgaria          4.540290          2.473504
822                            Estonia          4.184288          2.291087
2806                         Venezuela          4.184288          2.291087
1553                         Lithuania          3.480861          1.930287
753                 Dominican Republic          3.133436          1.751904
1370                           Jamaica          3.133436          1.751904
2158              Refugee Olympic Team          3.133436          1.751904
1066                         Guatemala          3.133436          1.751904
532                              Chile          2.788869          1.574866
2146                       Puerto Rico          2.108313          1.224824
1476                            Latvia          2.108313          1.224824
1919                           Nigeria          1.772323          1.051820
2079                       Philippines          1.439192          0.880161
2720                            Uganda          1.439192          0.880161
2165               Republic of Moldova          1.108920          0.709846
2326                         Singapore          1.108920          0.709846
1620                          Malaysia          1.108920          0.709846
1454                        Kyrgyzstan          0.781506          0.540876
112                            Armenia          0.781506          0.540876
1240                         Indonesia          0.456952          0.373252
2299                        Seychelles          0.000000          0.000000
1998                         Palestine          0.000000          0.000000
2548              Syrian Arab Republic          0.000000          0.000000
2038                          Paraguay          0.000000          0.000000
2026                  Papua New Guinea          0.000000          0.000000
2015                            Panama          0.000000          0.000000
1969                              Oman          0.000000          0.000000
1987                          Pakistan          0.000000          0.000000
2736              United Arab Emirates          0.000000          0.000000
2555                        Tajikistan          0.000000          0.000000
2661                      Turkmenistan          0.000000          0.000000
2588                              Togo          0.000000          0.000000
1932                   North Macedonia          0.000000          0.000000
2598                             Tonga          0.000000          0.000000
1901                             Niger          0.000000          0.000000
1887                         Nicaragua          0.000000          0.000000
2860                            Zambia          0.000000          0.000000
2467                          Suriname          0.000000          0.000000
2751       United Republic of Tanzania          0.000000          0.000000
2787                           Vanuatu          0.000000          0.000000
2616               Trinidad and Tobago          0.000000          0.000000
2254             Sao Tome and Principe          0.000000          0.000000
2309                      Sierra Leone          0.000000          0.000000
2816                           Vietnam          0.000000          0.000000
2251                        San Marino          0.000000          0.000000
2236                             Samoa          0.000000          0.000000
2349                   Solomon Islands          0.000000          0.000000
2355                           Somalia          0.000000          0.000000
2773                           Uruguay          0.000000          0.000000
2156                             Qatar          0.000000          0.000000
2817           Virgin Islands, British          0.000000          0.000000
2220                       Saint Lucia          0.000000          0.000000
2818                Virgin Islands, US          0.000000          0.000000
2441                         Sri Lanka          0.000000          0.000000
2208                            Rwanda          0.000000          0.000000
2826                             Yemen          0.000000          0.000000
2454                             Sudan          0.000000          0.000000
2281                           Senegal          0.000000          0.000000
2266                      Saudi Arabia          0.000000          0.000000
14                         Afghanistan          0.000000          0.000000
1808                             Nepal          0.000000          0.000000
685                     CÃ´te d'Ivoire          0.000000          0.000000
480                         Cape Verde          0.000000          0.000000
507                               Chad          0.000000          0.000000
586                            Comoros          0.000000          0.000000
605                       Cook Islands          0.000000          0.000000
620                         Costa Rica          0.000000          0.000000
661                             Cyprus          0.000000          0.000000
700   Democratic Republic of the Congo          0.000000          0.000000
424                            Burundi          0.000000          0.000000
736                           Djibouti          0.000000          0.000000
739                           Dominica          0.000000          0.000000
800                        El Salvador          0.000000          0.000000
809                            Eritrea          0.000000          0.042036
823                           Eswatini          0.000000          0.000000
856                               Fiji          0.000000          0.000000
446                           Cameroon          0.000000          0.000000
417                       Burkina Faso          0.000000          0.000000
1794                             Nauru          0.000000          0.000000
213                            Bahrain          0.000000          0.042036
47                      American Samoa          0.000000          0.000000
59                             Andorra          0.000000          0.000000
69                              Angola          0.000000          0.000000
80                 Antigua and Barbuda          0.000000          0.000000
121                              Aruba          0.000000          0.000000
203                            Bahamas          0.000000          0.000000
222                         Bangladesh          0.000000          0.000000
354                           Botswana          0.000000          0.000000
279                             Belize          0.000000          0.000000
290                              Benin          0.000000          0.000000
309                            Bermuda          0.000000          0.000000
319                             Bhutan          0.000000          0.000000
336                            Bolivia          0.000000          0.000000
344             Bosnia and Herzegovina          0.000000          0.000000
922                              Gabon          0.000000          0.000000
927                             Gambia          0.000000          0.000000
976                              Ghana          0.000000          0.000000
1642                              Mali          0.000000          0.000000
1525                             Libya          0.000000          0.000000
1543                     Liechtenstein          0.000000          0.000000
1578                        Luxembourg          0.000000          0.000000
1594                        Madagascar          0.000000          0.000000
1604                            Malawi          0.000000          0.000000
1629                          Maldives          0.000000          0.000000
1658                             Malta          0.000000          0.000000
1042                           Grenada          0.000000          0.000000
1674                         Mauritius          0.000000          0.000000
1718                            Monaco          0.000000          0.000000
1736                        Montenegro          0.000000          0.000000
1761                        Mozambique          0.000000          0.000000
1779                           Myanmar          0.000000          0.000000
1787                           Namibia          0.000000          0.042036
1513                           Liberia          0.000000          0.000000
1505                           Lesotho          0.000000          0.000000
1494                           Lebanon          0.000000          0.000000
23                             Albania          0.000000          0.000000
1464  Lao People's Democratic Republic          0.000000          0.000000
1447                            Kuwait          0.000000          0.000000
1434                            Kosovo          0.000000          0.000000
1432                          Kiribati          0.000000          0.000000
1404                            Jordan          0.000000          0.042036
1274                              Iraq          0.000000          0.000000
1195                           Iceland          0.000000          0.000000
1131                          Honduras          0.000000          0.000000
1119                             Haiti          0.000000          0.000000
1103                            Guyana          0.000000          0.000000
1085                     Guinea-Bissau          0.000000          0.000000
1078                            Guinea          0.000000          0.000000
1051                              Guam          0.000000          0.000000
2874                          Zimbabwe          0.000000          0.000000

# Random Forest

In [384]:
# Préparer le transformateur pour l'encodage et la normalisation
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['year', 'num_athletes']),
    ])

polynomial_features = PolynomialFeatures(degree=2, include_bias=False)
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('polynomial_features', polynomial_features),
    ('regressor', MultiOutputRegressor(RandomForestRegressor(random_state=42)))
])

# Entraîner le modèle
model.fit(X_train, y_train)

# Prédire les médailles pour 2020
y_pred = model.predict(X_test)

# Évaluer le modèle
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

# Afficher les prédictions
predictions = pd.DataFrame({
    'country_name': X_test['country_name'],
    'predicted_points': y_pred[:, 0],
    'predicted_medals': y_pred[:, 1]
})

# Remplacer les valeurs négatives par 0
predictions['predicted_points'] = predictions['predicted_points'].apply(lambda x: max(0, x))
predictions['predicted_medals'] = predictions['predicted_medals'].apply(lambda x: max(0, x))

# Classer la dataframe dans l'ordre des médailles gagnées par pays
print("total medals : " + str(predictions['predicted_medals'].sum()))
print(predictions.sort_values(by='predicted_medals', ascending=False))

Mean Absolute Error: 3.1483452596045143
total medals : 940.3089420338069
                          country_name  predicted_points  predicted_medals
2703                               USA        235.770000        113.290000
1393                             Japan        139.330000         68.240000
545                              China         96.450000         48.470000
2199                Russian Federation         96.470000         48.040000
151                          Australia        102.090000         46.120000
911                             France         85.860000         39.100000
960                            Germany         85.860000         39.100000
1005                     Great Britain         75.870000         37.880000
1341                             Italy         68.200000         34.520000
473                             Canada         56.155000         31.160000
1834                       Netherlands         34.940000         16.850000
378                             Brazil         33.550000         15.345000
2424                             Spain         28.057500         15.302500
2393                       South Korea         33.690000         15.210000
2727                           Ukraine         31.800000         14.710000
2102                            Poland         30.600000         14.700000
2780                        Uzbekistan         23.866167         14.597500
179                            Austria         23.275333         14.182500
561                     Chinese Taipei         18.952667         12.858333
581                           Colombia         21.328167         12.334500
650                               Cuba         21.328167         12.334500
1173                           Hungary         21.292500         10.990000
268                            Belgium         17.456667         10.695833
1697                            Mexico         18.572500         10.630000
2127                          Portugal         15.878500         10.314167
1296                           Ireland         15.878500         10.314167
788                              Egypt         14.597500          8.932500
1411                        Kazakhstan         15.470500          8.743000
2654                            Turkey         15.470500          8.743000
1313                            Israel         18.393667          8.345381
668                     Czech Republic         17.280500          8.288333
2534                       Switzerland         17.280500          8.288333
728                            Denmark         15.746786          7.564810
241                            Belarus         14.448333          7.303333
2505                            Sweden         14.448333          7.303333
1224                             India         14.448333          7.303333
1873                       New Zealand         13.088333          6.919167
1427                             Kenya          9.313500          6.217500
2189                           Romania         11.061333          5.803333
2057                              Peru         11.061333          5.803333
1732                          Mongolia          9.531833          5.797667
1751                           Morocco          9.216143          5.708929
1034                            Greece          9.216143          5.708929
2375                      South Africa          9.173762          4.847000
1257                              Iran          8.439131          4.268083
2146                       Puerto Rico          9.331881          4.111702
1476                            Latvia          9.331881          4.111702
105                          Argentina          8.064595          4.077333
882                            Finland          6.130429          3.904952
1146                  Hong Kong, China          6.130429          3.904952
934                            Georgia          6.130429          3.904952
2341                          Slovenia          5.365238          3.820476
1553                         Lithuania          7.432286          3.817333
768                            Ecuador          4.524333          3.386000
2631                           Tunisia          4.524333          3.386000
1959                            Norway          4.234667          3.008000
186                         Azerbaijan          4.993833          2.909929
2286                            Serbia          4.993833          2.909929
2572                          Thailand          4.993833          2.909929
38                             Algeria          4.993833          2.909929
628                            Croatia          3.586833          2.535095
2333                          Slovakia          6.203333          2.341333
838                           Ethiopia          6.203333          2.341333
407                           Bulgaria          6.203333          2.341333
1454                        Kyrgyzstan          3.613040          1.913897
112                            Armenia          3.613040          1.913897
1919                           Nigeria          3.722595          1.690048
2158              Refugee Olympic Team          2.459667          1.689762
753                 Dominican Republic          2.459667          1.689762
1066                         Guatemala          2.459667          1.689762
1370                           Jamaica          2.459667          1.689762
1620                          Malaysia          2.400548          1.252095
2326                         Singapore          2.400548          1.252095
2165               Republic of Moldova          2.400548          1.252095
2720                            Uganda          2.126881          1.251548
2079                       Philippines          2.126881          1.251548
2816                           Vietnam          1.824995          0.803022
2616               Trinidad and Tobago          1.824995          0.803022
446                           Cameroon          1.892772          0.733840
661                             Cyprus          1.892772          0.733840
1578                        Luxembourg          1.892772          0.733840
213                            Bahrain          1.367221          0.730520
1404                            Jordan          1.367221          0.730520
1787                           Namibia          1.367221          0.730520
809                            Eritrea          1.367221          0.730520
532                              Chile          1.152286          0.688095
2266                      Saudi Arabia          0.891713          0.391068
1434                            Kosovo          0.891713          0.391068
620                         Costa Rica          0.891713          0.391068
1240                         Indonesia          0.130810          0.147405
822                            Estonia          0.555000          0.126667
2806                         Venezuela          0.555000          0.126667
2281                           Senegal          0.183422          0.088740
700   Democratic Republic of the Congo          0.183422          0.088740
1447                            Kuwait          0.183422          0.088740
2156                             Qatar          0.183422          0.088740
2015                            Panama          0.183422          0.088740
2236                             Samoa          0.099991          0.056556
2555                        Tajikistan          0.099991          0.056556
1987                          Pakistan          0.099991          0.056556
685                     CÃ´te d'Ivoire          0.099991          0.056556
2441                         Sri Lanka          0.071611          0.032116
2860                            Zambia          0.071611          0.032116
354                           Botswana          0.071611          0.032116
1736                        Montenegro          0.071611          0.032116
2251                        San Marino          0.071611          0.032116
2548              Syrian Arab Republic          0.071611          0.032116
976                              Ghana          0.027597          0.009806
2661                      Turkmenistan          0.027597          0.009806
1761                        Mozambique          0.027597          0.009806
1887                         Nicaragua          0.027597          0.009806
1674                         Mauritius          0.027597          0.009806
1932                   North Macedonia          0.027597          0.009806
417                       Burkina Faso          0.027597          0.009806
344             Bosnia and Herzegovina          0.027597          0.009806
23                             Albania          0.027597          0.009806
2026                  Papua New Guinea          0.027597          0.009806
2038                          Paraguay          0.027597          0.009806
2826                             Yemen          0.000000          0.000000
2588                              Togo          0.000000          0.000000
2787                           Vanuatu          0.000000          0.000000
2454                             Sudan          0.000000          0.000000
2818                Virgin Islands, US          0.000000          0.000000
2817           Virgin Islands, British          0.000000          0.000000
2208                            Rwanda          0.000000          0.000000
2220                       Saint Lucia          0.000000          0.000000
2254             Sao Tome and Principe          0.000000          0.000000
2355                           Somalia          0.000000          0.000000
2299                        Seychelles          0.000000          0.000000
2309                      Sierra Leone          0.000000          0.000000
2349                   Solomon Islands          0.000000          0.000000
2736              United Arab Emirates          0.000000          0.000000
2751       United Republic of Tanzania          0.000000          0.000000
2598                             Tonga          0.000000          0.000000
2773                           Uruguay          0.000000          0.000000
2467                          Suriname          0.000000          0.000000
14                         Afghanistan          0.000000          0.000000
1998                         Palestine          0.000000          0.000000
1042                           Grenada          0.000000          0.000000
922                              Gabon          0.000000          0.000000
856                               Fiji          0.000000          0.000000
823                           Eswatini          0.000000          0.000000
800                        El Salvador          0.000000          0.000000
739                           Dominica          0.000000          0.000000
736                           Djibouti          0.000000          0.000000
605                       Cook Islands          0.000000          0.000000
586                            Comoros          0.000000          0.000000
507                               Chad          0.000000          0.000000
480                         Cape Verde          0.000000          0.000000
424                            Burundi          0.000000          0.000000
336                            Bolivia          0.000000          0.000000
319                             Bhutan          0.000000          0.000000
309                            Bermuda          0.000000          0.000000
290                              Benin          0.000000          0.000000
279                             Belize          0.000000          0.000000
222                         Bangladesh          0.000000          0.000000
203                            Bahamas          0.000000          0.000000
121                              Aruba          0.000000          0.000000
80                 Antigua and Barbuda          0.000000          0.000000
69                              Angola          0.000000          0.000000
59                             Andorra          0.000000          0.000000
47                      American Samoa          0.000000          0.000000
927                             Gambia          0.000000          0.000000
1051                              Guam          0.000000          0.000000
1969                              Oman          0.000000          0.000000
1078                            Guinea          0.000000          0.000000
1901                             Niger          0.000000          0.000000
1808                             Nepal          0.000000          0.000000
1794                             Nauru          0.000000          0.000000
1779                           Myanmar          0.000000          0.000000
1718                            Monaco          0.000000          0.000000
1658                             Malta          0.000000          0.000000
1642                              Mali          0.000000          0.000000
1629                          Maldives          0.000000          0.000000
1604                            Malawi          0.000000          0.000000
1594                        Madagascar          0.000000          0.000000
1543                     Liechtenstein          0.000000          0.000000
1525                             Libya          0.000000          0.000000
1513                           Liberia          0.000000          0.000000
1505                           Lesotho          0.000000          0.000000
1494                           Lebanon          0.000000          0.000000
1464  Lao People's Democratic Republic          0.000000          0.000000
1432                          Kiribati          0.000000          0.000000
1274                              Iraq          0.000000          0.000000
1195                           Iceland          0.000000          0.000000
1131                          Honduras          0.000000          0.000000
1119                             Haiti          0.000000          0.000000
1103                            Guyana          0.000000          0.000000
1085                     Guinea-Bissau          0.000000          0.000000
2874                          Zimbabwe          0.000000          0.000000